<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
               http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="employeebean1" class="com.srk.train.Employee">
		<constructor-arg value="10"></constructor-arg>
		<constructor-arg value="Aruna"></constructor-arg>
	</bean>

	<bean id="employeebean2" class="com.srk.train.Employee" parent="employeebean1">
		<constructor-arg> <ref bean="addressbean" /> </constructor-arg>
	</bean>

	<bean id="addressbean" class="com.srk.train.Address">
		<constructor-arg value="1234, kuriseti street"></constructor-arg>
		<constructor-arg value="ghaziabad"></constructor-arg>
		<constructor-arg value="UP"></constructor-arg>
		<constructor-arg value="India"></constructor-arg>
	</bean>

</beans>  